$off-white: #f0f0f0;
$white: white;
$black: black;
$red: red;
$light-blue: #a1c2f7;
$blue: blue;
$light-gray: #cfcfcf;
$gray-blue: #56587a;
$green: green;
$red-orange: tomato;

$dark-light-gray-grad: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(102, 102, 102, 1) 100%,
      rgba(85, 85, 85, 1) 100%);