$off-white: #f0f0f0;
$white: white;
$black: black;
$red: red;
$light-blue: #a1c2f7;
$blue: blue;
$light-gray: #cfcfcf;
$gray-blue: #56587a;
$gray-blue-light: #7b7eb0;
$gray-blue-dark: #323347;
$green: green;
$red-orange: tomato;

$dark-light-gray-grad: linear-gradient(
	0deg,
	rgba(0, 0, 0, 1) 0%,
	rgba(60, 60, 60, 1) 100%,
);
