<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Game :)</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--For when I make an icon: <link rel="icon" href="./favicon.ico" type="image/x-icon">-->
  </head>
  <body>
    <input type="number" id="permin1"></input>
    <input type="number" id="cost1"></input>
    <input type="number" id="ratio1"></input>
    <br>
    <br>
    <input type="number" id="permin2"></input>
    <input type="number" id="cost2"></input>
    <input type="number" id="ratio2"></input>
    <br>
    <br>
    <input type="number" id="permin3"></input>
    <input type="number" id="cost3"></input>
    <input type="number" id="ratio3"></input>
    <br>
    <br>
    <input type="number" id="permin4"></input>
    <input type="number" id="cost4"></input>
    <input type="number" id="ratio4"></input>
    <!--
    <canvas id="myCanvas"></canvas>
    <script>
      let c = document.getElementById('myCanvas');
      c.height = 520;
      c.width = 320;
      let ctx = c.getContext('2d')
      let gradStart = "rgba(0, 0, 255, 1)";
      let gradEnd = "rgba(0, 0, 255, 0)";
      let grad1 = ctx.createRadialGradient(20, 20, 0, 20, 20, 20);
      grad1.addColorStop(0, gradStart);
      grad1.addColorStop(1, gradEnd);
      ctx.fillStyle = grad1;
      ctx.fillRect(0, 0, 20, 20);
      let grad2 = ctx.createRadialGradient(300, 20, 0, 300, 20, 20);
      grad2.addColorStop(0, gradStart);
      grad2.addColorStop(1, gradEnd);
      ctx.fillStyle = grad2;
      ctx.fillRect(300, 0, 20, 20);
      let grad3 = ctx.createRadialGradient(300, 500, 0, 300, 500, 20);
      grad3.addColorStop(0, gradStart);
      grad3.addColorStop(1, gradEnd);
      ctx.fillStyle = grad3;
      ctx.fillRect(300, 500, 20, 20);
      let grad4 = ctx.createRadialGradient(20, 500, 0, 20, 500, 20);
      grad4.addColorStop(0, gradStart);
      grad4.addColorStop(1, gradEnd);
      ctx.fillStyle = grad4;
      ctx.fillRect(0, 500, 20, 20);
      let grad5 = ctx.createLinearGradient(20, 20, 0, 20);
      grad5.addColorStop(0, gradStart);
      grad5.addColorStop(1, gradEnd);
      ctx.fillStyle = grad5;
      ctx.fillRect(0, 20, 20, 480);
      let grad6 = ctx.createLinearGradient(20, 20, 20, 0);
      grad6.addColorStop(0, gradStart);
      grad6.addColorStop(1, gradEnd);
      ctx.fillStyle = grad6;
      ctx.fillRect(20, 0, 280, 20);
      let grad7 = ctx.createLinearGradient(300, 20, 320, 20);
      grad7.addColorStop(0, gradStart);
      grad7.addColorStop(1, gradEnd);
      ctx.fillStyle = grad7;
      ctx.fillRect(300, 20, 20, 480);
      let grad8 = ctx.createLinearGradient(20, 500, 20, 520);
      grad8.addColorStop(0, gradStart);
      grad8.addColorStop(1, gradEnd);
      ctx.fillStyle = grad8;
      ctx.fillRect(20, 500, 280, 20);
    </script>
  -->
    <script src="js/test.js"></script>
  </body>
</html>  